* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    line-height: 1.65;
    margin: 1.8rem 0;
    @mixin atSmall {
        font-size: 1.125rem;
    }
}

a {
    color: $orange;
    font-weight: bold;
}