.btn {
    background: $blue;
    color: #ffffff;
    text-decoration: none;
    padding: .8rem 1.8rem;
    display: inline-block;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);

    &--orange {
        background: $orange;
    }

    &--large {
        
        @mixin atSmall { 
            padding: 1.1rem 1.9rem;
            font-size: 1.25rem;
        }
    }
}
