.row {
    display: flex;
    flex-direction: column;

    &--t-padding {
        padding-top: 80px;
    }
    
    &--gutters {
        margin-right: -4%;
    }
    
    &--gutters > div{
        padding-right: 4%;
    }

    &--gutters-large {
        margin-right: -8%;
    }

    &--gutters-large > div {
        padding-right: 8%;
    } 
    
    @mixin atLarge {
        flex-direction: row;
        flex-wrap: wrap;

        &__6-of-12 {
            width: 50%; 
        }

        &__4-of-12 {
            width: 33.33%; 
        }

        &__8-of-12 {
            width: 66.66%;
        }
        
        &__4-of-12--larger {
            width: 37%;
        }

        &__8-of-12--smaller {
            width: 63%;
        }
    }
}