.social-icons {
    text-align: center;
    width: 200px;
    margin: auto;

    @mixin atSmall {
        width: 100%;
    }

    &__icon {
        background: $orange;
        display: inline-block;
        width: 80px;
        height: 80px;
        position: relative;
        margin: 5px;

        @mixin atSmall {
            width: 72px;
            height: 72px;
        }

        .icon {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}